.badge {
  background-color: tomato;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  /* 높이에 반을 해주면 원형모양이 된다. */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  /* 글씨 굵어지게 */
}
